private_config:
  path: "./configs"

production_env:
  path: "./configs"
development_env:
  path: "./configs"

projectPage:
  scratchLink: "0.0.0.0:8601/"

api_urls:
  refreshToken: "https://edx-test.ru/oauth2/access_token"
  getUser: "https://edx-test.ru/api/user/v1/me"
  getCourse: "https://edx-test.ru/api/courses/v1/courses/"
  getEnrollment: "https://edx-test.ru/api/enrollment/v1/enrollments?username="
  getCourses: "https://edx-test.ru/api/courses/v1/courses/"
  getAllPublicCourses: "https://courses.edx.org/api/courses/v1/courses/?page="
  postEnrollment: "https://edx-test.ru/api/enrollment/v1/enrollment"
  postRegistration: "https://edx-test.ru/api/user/v1/account/registration/"
  postCohort: "https://edx-test.ru/api/cohorts/v1/courses/"
  login: "https://edx-test.ru/api/user/v1/account/login_session/"
  getLogin: "https://edx-test.ru/login"
  getRegistration: "https://edx-test.ru/register?next=%2F"

cors:
  allowed_origins: [
    "http://0.0.0.0:5000",
    "http://0.0.0.0:3000",
    "http://0.0.0.0:8601",
    "http://localhost:8601",
    "http://localhost:3030",
    "http://localhost:5000",
    "http://92.255.79.9",
    "http://92.255.79.9:5000",
    "http://92.255.79.9:3000",
    "http://92.255.79.9:8601",
  ]
  allow_credentials: true
  allowed_methods: [ "GET","POST","DELETE","PUT","PATCH","OPTIONS" ]
  allowed_headers: [ "*" ]

logger:
  info: "./logs/info.log"
  error: "./logs/error.log"
  gorm: "./logs/gorm.log"